{% block articles %}
    <div id="articles">
        <h2>Articles</h2>
        <a class="ajax" href="/new_articles">Newest Articles</a> <a class="ajax" href="/page_articles">Newest Front Page Articles</a>
        {% if asuccess %}
            {% for article in articles %}
                <div><span><b>Title: </b></span><a href="{{article.url}}">{{article.title}}</a></div>
                <div style="padding-left: 30px;">
                    <span>Posted By: </span>{{article.postedBy}}<br/>
                    <span>Date Posted: </span>{{article.postedDate}}<br/>
                    <span>Points: </span>{{article.points}}<br/>
                </div>
                <br/>
            {% endfor %}
        {% else %}
            <div>
                Error getting response from server: {{articles.status}}, {{articles.reason}}
                <br/>
                (This error came from hackernews - try reloading the page)
            </div>
        {% endif %}
    </div>
{% endblock %}
